@import "Variables";
@import "Mixing";

.formulario {
  @include flex($direction: column);
  text-align: center;
  h3 {
    margin-top: $margen50;
    font-size: $font-size-3;
    color: $color-principal;
  }
  .div-busqueda {
    display: flex;
    align-items: center;
  }
  button {
    background-color: $color-principal;
    color: white;
    font-size: $font-size-4;
    padding: $padding10;
    padding-bottom: 4px;
    width: 60px;
    height: 60px;
    border-radius: 25px;
    margin: 0px;
    cursor: pointer;
  }
}

.input-peli {
  border-radius: 20px;
  border: 3px solid $color-principal;
  width: 400px;
  height: 30px;
  padding: 5px;
  font-size: $font-size-1;
  margin-right: 15px;
  outline: none;
}
button:hover {
  color: $color-efectos;
}

@media screen and (max-width: 600px) {
  .formulario {
    button {
      font-size: 25px;
      width: 50px;
      height: 50px;
    }
  }
  .input-peli {
    width: 300px;
  }
}
