@import "Variables";
@import "Mixing";

.contendor-error {
  @include flex($direction: column);
  width: 100%;
  position: relative;
  img {
    width: 100%;
  }
  button {
    @include flex($direction: row);
    position: absolute;
    top: 250px;
    left: 800px;
    font-family: $fuente;
    font-size: $font-size-standard;
    font-weight: bold;
    width: 100px;
    height: 50px;
    padding: 2px;
    background-color: $color-principal;
    color: $color-secundario;
    border-radius: 30%;
    border: none;
    cursor: pointer;
  }
}
button:hover {
  color: $color-efectos;
}
