@import "Variables";
@import "Mixing";

.img-item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.item {
  display: flex;
  ul {
    list-style: none;
    width: 90%;
    padding-left: 25px;
  }
}
.item-completo {
  display: flex;
  justify-content: space-between;
}
.img-titulo-nombre {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 50px;
  p {
    margin-left: 10px;
  }
}
.link-item {
  @include flex($direction: row);
}
.icono-detalle {
  width: 50px;
  height: 50px;
  color: $color-principal;
  opacity: 0.8;
}
a {
  padding: 0px;
}
.icono-detalle:hover {
  opacity: 1;
}

// Responsive

@media screen and (max-width: 1200px) and (min-width: 800px) {
  .img-titulo-nombre {
    p {
      font-size: 15px;
    }
  }
  .img-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 0px;
  }
  .icono-detalle {
    width: 40px;
    height: 40px;
  }
  ul {
    padding-left: 15px;
  }
}
@media screen and (max-width: 800px) and (min-width: 700px) {
  .img-titulo-nombre {
    p {
      font-size: 13px;
    }
  }
  .img-item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 0px;
  }
  .icono-detalle {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  ul {
    margin: 5px 0px;
    p {
      margin: 0px;
    }
  }
}

@media screen and (max-width: 550px) {
  .img-titulo-nombre {
    p {
      font-size: 13px;
    }
  }
  .img-item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 0px;
  }
  .icono-detalle {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  ul {
    margin: 5px 0px;
    p {
      margin: 0px;
    }
  }
}
