@import "Variables";

.lista {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 480px;
  width: 40%;
  border: 3px solid $color-principal;
  margin-top: $margen50;
  overflow: scroll;
  margin-bottom: 40px;
  h2 {
    background-color: $color-principal;
    color: white;
    padding: $padding10;
    margin: 0;
    font-size: $font-size-1;
  }
}

//Responsive

@media screen and (max-width: 900px) {
  .lista {
    h2 {
      font-size: 15px;
    }
  }
}
@media screen and (max-width: 700px) {
  .lista {
    width: 70%;
    h2 {
      font-size: $font-size-1;
    }
  }
}
