@import "Variables";

.loader {
  position: absolute;
  top: 400px;
  left: 400px;
  border: 16px solid #f3f3f3;
  border-top: 16px solid $color-principal;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
