@import "Variables";

.nav-bar {
  height: 100px;
  background-color: $color-principal;
  display: flex;
}
.li-botones {
  display: flex;
  align-items: center;
  list-style: none;
  li {
    display: flex;
    text-align: center;
    margin: $margen20;
    background-color: $color-principal;
    border: none;
    font-family: $fuente;
  }
}
a {
  text-decoration: none;
  color: $color-nav;
}
a:hover {
  color: $color-efectos;
}
a:active {
  border-radius: 20px;
  color: $color-efectos;
}
a:focus {
  outline: none;
  color: $color-efectos;
}

.imagen-movie {
  margin-left: $margen30;
  margin-right: 10px;
  padding: $padding10;
}

//Responsive

@media screen and (max-width: 1050px) {
  .li-botones {
    li {
      padding: $padding10;
      margin: 10px;
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 750px) {
  .nav-bar {
    justify-content: space-between;
    height: 200px;
  }
  .li-botones {
    flex-direction: column;
    margin-right: $margen20;
    padding: 0px;
    li {
      padding: 5px;
      margin: 5px;
      font-size: 12px;
    }
  }
}
