@import "Variables";

.nav-bar {
  height: 100px;
  background-color: $color-principal;
  display: flex;
}
.li-botones {
  display: flex;
  align-items: center;
  list-style: none;
  li {
    display: flex;
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: $color-principal;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
a {
  text-decoration: none;
  color: rgb(240, 240, 174);
}

.imagen-movie {
  margin-left: 30px;
  margin-right: 10px;
  padding: 10px;
}

//Responsive

@media screen and (max-width: 1050px) {
  .li-botones {
    li {
      padding: 10px;
      margin: 10px;
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 750px) {
  .nav-bar {
    justify-content: space-between;
    height: 200px;
  }
  .li-botones {
    flex-direction: column;
    margin-right: 20px;
    padding: 0px;
    li {
      padding: 5px;
      margin: 5px;
      font-size: 12px;
    }
  }
}
