@import "Variables";
@import "Mixing";

.botones-paginado {
  @include flex($direction: row);
  text-align: center;
  margin-top: 10px;
  color: $color-principal;
  font-size: $font-size-2;

  button {
    display: flex;
    text-align: center;
    padding: 2px;
    margin: $margen20;
    background-color: $color-principal;
    border-radius: 50%;
    border: none;
    font-family: $fuente;
    font-size: $font-size-standard;
    cursor: pointer;
  }
}
.icono-paginado:hover {
  color: $color-efectos;
}
.icono-paginado {
  font-size: 40px;
  color: $color-secundario;
}

// Responsive
@media screen and (max-width: 550px) {
  .icono-paginado {
    font-size: $font-size-2;
  }
  span {
    font-size: 15px;
  }
}
