@import "Variables";

.contenedor-presentacion {
  margin-left: $margen20;
  margin-top: $margen30;
  margin-bottom: $margen30;
}

.contenedor-tarjeta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.link-lista {
  display: flex;
  align-items: center;
  .icono-listado {
    width: 50px;
    height: 50px;
    color: $color-principal;
    opacity: 0.8;
    margin-right: $margen20;
  }
  h2 {
    margin-left: 35px;
    margin-right: 10px;
    color: $color-principal;
  }
}
.icono-listado:hover {
  color: $color-efectos;
}
