@import "Variables";

.tarjeta {
  display: flex;
  flex-direction: column;
  width: 310px;
  height: 480px;
  margin: 5px;
  border: 0.5px solid rgb(204, 203, 203);

  img {
    width: 100%;
    overflow: hidden;
  }
  h3 {
    color: $color-principal;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
}
