$color-principal: rgb(223, 67, 20);
$color-secundario: rgb(245, 228, 156);
$color-nav: rgb(240, 240, 174);
$color-efectos: rgb(11, 11, 44);

$fuente: Verdana, Geneva, Tahoma, sans-serif;
$font-size-standard: 18px;
$font-size-1: 20px;
$font-size-2: 25px;
$font-size-3: 30px;
$font-size-4: 35px;

$margen20: 20px;
$margen30: 30px;
$margen40: 40px;
$margen50: 50px;

$padding10: 10px;
$padding20: 20px;
$padding30: 30px;
$padding40: 40px;
